.catalog {
    padding-top: 40px;
    &__course {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;   
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}