.user {
    width: 100%;
    display: flex;
    margin-top: 40px;
    &__icon {
        position: relative;
        img {
            width: 160px;
            height: 160px;
        }
        &Edit {
            position: absolute;
            top: -25px;
            right: -25px;
            background: #F1C40F;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #141312;
            border-radius: 50px;
            width: 50px;
            height: 50px;
        }
    }
    
    &__container {
        width: 100%;
        margin-left: 40px;
    }
    &__containerAbout {
        margin-top: 40px;
        &-textBlock {
            padding: 20px;
        }
    }
    &__containerCourse {
        &-container {
            padding-top: 80px;
            display: flex;
            justify-content: center;
            width: 100%;
        }
        &-txt {
            padding-bottom: 20px;
        }
        &-block {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 340px;
            width: 100%;
        }
    }
}