
.container {
    padding: var(--container-padding-desctop);
}

@media (max-width: 1200px) and (min-width: 500px) {
    .container {
        padding: var(--container-padding-tablet);
    }
}
@media (max-width: 500px) {
    .container {
        padding: var(--container-padding-mobile);
    }
}