.userPerformance {
    display: flex;
    position: relative;
    &__icon {
        margin-right: 10px;
        position: relative;
        display: flex;
        &-picture {
            border-radius: 4px;
        }
        &-notification {
            background-color: #FD4438;
            position: absolute;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            font-size: 14px;
            top: -8px;
            right: -8px;
        }
    }
    &__menu {
        position: absolute;
        background-color: #16110D;
        border: 1px solid #424242;
        border-radius: 2px;
        width: 100%;
        z-index: 10;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-name {
            display: flex;
            align-items: center;
        }
    }
}