.cardTheme {
    display: flex;
    justify-content: space-between;
    background: #1B1918;
    // box-shadow: 4px 4px 20px 2px rgba(226, 226, 226, 0.1);
    border-radius: 4px;
    height: 100px;
    padding: 20px;
    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__icon {
        width: 40px;
        height: 40px;
    }
}