.subMenu {
    max-width: 80px;
    width: 100%;
    background-color: #000;
    padding-top: 70px;
    &__content {
        width: 80px;    
        display: flex;
        flex-direction: column;
    }
    &__active {
        background-color: rgba(255, 255, 255, 0.05);
        svg {
            color: #F1C40F;
        }
    }
    &__item:not(:first-child) {
        margin: 8px 0;
        ::after {
            content: '';
            height: 4px;
            width: 4px;
            top: -8px;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    &__item:first-child {
        margin-bottom: 8px;
    }
}
@media (max-width: 500px) {
    .subMenu {
        display: none;
    }
}